<div class="page-header">
</div>
<div class="click_btn">
作成
</div>
<div class="modal fade" id="modal_box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="box_inner">
        <p>
        <h2>作成しましょう</h2>
        </p>
        <p class="text-center"><a class="btn btn-primary" data-dismiss="modal" href="#">閉じる</a></p>
      </div>
    </div>
  </div>
</div>
<script>
$('.click_btn').on('click', function(){
  $('#modal_box').modal('show');
});
</script>
<div class="tab-content">
  <!-- Logged in user's page -->
  <div class="tab-pane active" id="user-tab<%= current_user.id %>">
    <h3><%= current_user.name %></h3>
    <h4><%= current_user.email %></h4>
  </div>

  <!-- Ather user's pages -->
  <% @members.each do |user| %>
    <div class="tab-pane" id="user-tab<%= user.id %>">
      <h3><%= user.name %></h3>
      <h4><%= user.email %></h4>
    </div>
  <% end %>
</div>
